* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    font-family: "Lato", sans-serif;
}

.PageComplete {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

h1 {
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    color: #ed5d34;

}

/* h1 {
    color: #1a2f42;
    margin: 20px 0;
    padding-bottom: 30px;
    border-bottom: 1px dashed gray;
}

h1 span {
    display: block;
}

h1 span:nth-child(1) {
    font-weight: normal;
    color: red;
} */

.actus {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 30px;
    margin: 80px 0;
}

.actusRecentes {
    display: grid;
    border: 0px solid red;
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    justify-content: center;
    grid-gap: 50px;
    margin: 80px 0;
}

.actus {
    padding-top: 20px;
    border-top: 2px dashed black;
}

.card-wrapper, .card-wrapperBis {
    position: relative;
    min-height: 350px;
    perspective: 2000px;
    perspective-origin: left;
}

.card-wrapper:hover .card, .card-wrapperBis:hover .card {
    transform: rotateY(180deg);
}

.card {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.8,0,0.07,1);
    color: white;
    font-weight: bold;
}

.card-FaceAvant, .card-FaceArriere {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 8px;
    backface-visibility: hidden;
}

/* ---------------------------------------------------------- */

.card-wrapperBis:nth-child(1) .card-FaceAvant {
    background: url("../image/actus/church.jpg");
    background-size: cover;
    background-position: bottom;
}

.card-wrapperBis:nth-child(2) .card-FaceAvant {
    background: url("../image/actus/plage.jpg");
    background-size: cover;
    background-position: left;
}

.card-wrapper:nth-child(1) .card-FaceAvant {
    background: url("../image/actus/fonte.jpg");
    background-size: cover;
    background-position: center;
}

.card-wrapper:nth-child(2) .card-FaceAvant {
    background: url("../image/actus/maison.jpg");
    background-size: cover;
    background-position: center;
}

.card-wrapper:nth-child(3) .card-FaceAvant {
    background: url("../image/actus/paysage-unsplash.jpg");
    background-size: cover;
    background-position: right;
}

.card-wrapper:nth-child(4) .card-FaceAvant {
    background: url("../image/actus/pramid.jpg");
    background-size: cover;
    background-position: center;
}

.card-wrapper:nth-child(5) .card-FaceAvant {
    background: url("../image/actus/neige.jpg");
    background-size: cover;
    background-position: center;
}

.card-wrapper:nth-child(6) .card-FaceAvant {
    background: url("../image/actus/ballons.jpg");
    background-size: cover;
    background-position: bottom;
}

/* ---------------------------------------------------------- */


.card-wrapper .card-FaceArriere {
    background: #ed5d34;
    transform: rotateY(180deg);
}

.card-wrapper:nth-child(even) .card-FaceArriere {
    background-color: #02a7e0;
}

.card-wrapperBis .card-FaceArriere {
    background: #02a7e0;
    transform: rotateY(180deg);
}

.card-wrapperBis:nth-child(even) .card-FaceArriere {
    background-color: #ed5d34;
}