header nav{
    background-color: #335494;
    display: flex;
}

.onglet{
    padding-top: 35px;
    padding-left: 0;
    text-decoration: none;
}

.onglet a{
    color: white;
    padding-right: 50px;
    font-size: 25px;
}

.onglet a li{
    display: none;
}

header nav img{
    width: 210px;
}

.nav-link{
    color: white;
    font-size: 150%;
}

.nav-item{
    padding: 30px;
}