@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


/******************************************** NAVBAR *************************************************************/

nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background: #fafafa;
    box-shadow: inset 0px -1px 0px #335494; /* petite bordure en bas */
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}

#logoNav {
    width: 200px;
}

.hamburger {
    display: none;
}

.navlinks-container a {
    font-family: 'Cabin', sans-serif;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #414141;
    display: inline-block;
    position: relative;
}

.navlinks-container a:hover {
    color: #ed5d34;
}

@media (max-width: 950px) {
    nav {
        padding: 15px 20px;
        position: relative;
    }

    .logo {
        order: 2;
        margin: 0 auto;
    }

    #logoNav {
        width: 175px;
    }

    .hamburger {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        background: #fafafa;
        align-items: center;
        position: relative;
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: #335494;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }

    .hamburger span:nth-child(1) {
        transform: translateY(7px);
    }

    .hamburger span:nth-child(3) {
        transform: translateY(-7px);
    }

    .hamburger span:nth-child(1), .hamburger span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }

    .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }

    .hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }

    .navlinks-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        width: 100%;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter : blur(8px);
        align-items: center;
        top: 100%;
        left: 0;
        height: 100vh;
        padding: 15px 50px 15px 20px;
        border-right: 1px solid #335494;
        transform: translate(-100%);
    }

    .open {
        transform: translate(0%);
        z-index: 10;
    }

    .navlinks-container.open {
        padding: 80px;
    }

    .navlinks-container a {
        font-size: 24px;
        margin: 10px 0px;
    }

}

@media (max-width: 500px) {
    #logoNav {
        width: 135px;
    }
}

/*******************************************************************************************************************/


body {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
  }


@media screen and (max-width: 830px){
    .slider{
        display: none;
    }
    .corpPage{
        flex-direction: column;
    }
    .actu{
        margin: 0 auto;
        width: 200px;
    }
    .actuCard{
        transition: none;
    }
    .autres{
        margin: 0 auto;
        width: 200px;
        padding: 15px;
    }
    .ServiceBeauvias{
        flex-direction: column;
    }
    .tourismeCard{
        border: 3px solid blue;
        position: absolute;
    }
    .serviceTerritoriaux{
        flex-direction: column;
    }
    .territoirCard:nth-child(1){
        width: 200px;
        height: 260px;
    }
    #mail{
        width: 400px !important;
    }
}

@media only screen and (min-width: 830px){
    .tourismeCard{
        margin-left: 7em;
    }
    #réseau{
        margin-left: 300px;
    }
}

@media only screen and (max-width: 615px){
    .mail{
        width: 400px;
    }
}



.slider {
    height: 50vh;
    position: relative;
    /*margin: 15px 0 15px 0;*/
}

.slider img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 2s;
}

.slider img.active {
    opacity: 1;
}

.suivant, .precedent {
    color: #fff;
    font-size: 2.25rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.suivant {
    right: 1rem;
}

.precedent {
    left: 1rem;
}

.corpPage{
    display: flex;
    justify-content: center;
    margin: 1px;
    font-family: 'Cabin', sans-serif;
    background-size: cover;
    background-position: bottom;
    margin: 15px;
}


.corpPage h3{
    color: orange;
}


.actuCard{
    font-weight: bold;
    position: relative;
    width: 240px;
    height: 200px;
    padding: 30px;
    transition: all 1s;
    border-radius: 8px;
    box-shadow: 10px 2px 10px orange;
}

.actuCard p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 30px;
    color: orange;
    visibility: hidden;
}

.actuCard:hover p{
    filter: none;
    visibility: visible;
}

.actuCard:hover{
    width: 300px;
    height: 260px;
    filter: brightness(55%);
    cursor: pointer;
}

.actuCard:nth-child(2){
    background: url("../image/accompagnement-professionnel.jpg");
    background-size: cover;
    background-position: bottom;
}

.actuCard:nth-child(4){
    background: url("../image/relais-tourisme.jpg");
    background-size: cover;
    background-position: bottom;
}

.actuCard:nth-child(6){
    background: url("../image/tri.jpg");
    background-size: cover;
    background-position: bottom;
}

.autres{
    display: flex;
    flex-direction: column;
    margin-left: 10em;
    justify-content: center;
    text-align: center;
}

.autres h4{
    color: #335494;
}

.ServiceBeauvias{
    display: flex;
    justify-content: center;
}
.ServiceBeauvias .titre{
    flex-direction: row;
}
.beauvaisCard{
    font-weight: bold;
    position: relative;
    width: 200px;
    height: 160px;
    padding: 30px;
    margin: 5px;
    cursor: pointer;
    transition: all 1s;
    border-radius: 8px;
    box-shadow: 10px 2px 10px #335494;
}

.beauvaisCard p{
    visibility: hidden;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}

.beauvaisCard:hover{
    width: 300px;
    height: 260px;
    filter: brightness(55%);
    cursor: pointer;
}

.beauvaisCard:nth-child(1){
    background: url("../image/BeauvaisisCulture.jpg");
    background-size: cover;
    background-position: bottom;
}

.beauvaisCard:nth-child(2){
    background: url("../image/beauvais.jfif");
    background-size: cover;
    background-position: bottom;
}

.beauvaisCard:hover p{
    color: #335494;
    visibility: visible;
} 

.tourismeCard{
    background: url("../image/aeroport.jpg");
    background-size: cover;
    background-position: bottom;
    font-weight: bold;
    position: relative;
    width: 200px;
    height: 160px;
    transition: all 1s;
    border-radius: 8px;
    box-shadow: 10px 2px 10px orange;
}

#corotitre{
    margin-left: 2.85em;
}

.tourismeCard p{
    margin-left: auto;
    margin-right: auto;
    margin-top: 115px;
    width: 30px;
    color: orange;
    visibility: hidden;
}

.tourismeCard:hover{
    width: 300px;
    height: 260px;
    filter: brightness(55%);
    cursor: pointer;
}

.tourismeCard:hover p{
    visibility: visible;
}

.serviceTerritoriaux{
    display: flex;
}

#teritotire{
    margin-top: 0.5em;
}


.territoirCard{
    font-weight: bold;
    position: relative;
    width: 200px;
    height: 160px;
    padding: 30px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid black;
    transition: all 1s;
    border-radius: 8px;
    box-shadow: 10px 2px 10px #335494;
}

.territoirCard p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 30px;
    color: orange;
    visibility: hidden;
}

.territoirCard:nth-child(1):hover{
    width: 200px;
    height: 260px;
    filter: brightness(55%);
    cursor: pointer;
}

.territoirCard:nth-child(2):hover{
    width: 300px;
    height: 260px;
    filter: brightness(55%);
    cursor: pointer;
}

.territoirCard:hover p{
    visibility: visible;
}

.territoirCard:nth-child(1){
    background: url("../image/franckpresident.jpg");
    background-size: cover;
    background-position: bottom;
}

.territoirCard:nth-child(2){
    background: url("../image/ue.png");
    background-size: cover;
    background-position: bottom;
}

#mail{
    color: #335494;
    font-family: 'Cabin', sans-serif;
    border: 1px solid black;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 10px 10px 10px 5px #335494;
}

#newsletter{
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 200px;
}

footer{
    margin-top: 50px;
    height: 200px;
    background-color: #335494;
    color: white;
    bottom: 1;
}



.footer{
    display: flex;
    bottom: 1;
}

#réseau{
    width: 50%;
}

#suivre{
    width: 50%;
}

footer a{
    text-decoration: none !important;
    color: #fff !important;
}

footer a:hover 
{
    filter: brightness(85%); 
}


/***********************************************************Formulaire****************************************************************/
.formulaire{
    width: 60%;
    margin: 0 auto;
}

#rejoindre{
    color: orange;
}
#inscription{
    border: 1px solid black;
    padding: 1em;
    border-radius: 5%;
    background-color: #335494;
    text-align: center;
    box-shadow: 10px 10px 10px orange;
    color: #fff;
}

ul{
    list-style-type: none;
    text-align: center;
}
/***********************************************************Fin du Formulaire****************************************************************/