
/******************************************** NAVBAR *************************************************************/

nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background: #fafafa;
    box-shadow: inset 0px -1px 0px #335494; /* petite bordure en bas */
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}

#logoNav {
    width: 200px;
}

.hamburger {
    display: none;
}

.navlinks-container a {
    margin: 0 10px;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    color: #414141;
    display: inline-block;
    position: relative;
}

.navlinks-container a:hover {
    color: #ed5d34;
}

@media (max-width: 950px) {
    nav {
        padding: 15px 20px;
        position: relative;
    }

    .logo {
        order: 2;
        margin: 0 auto;
    }

    #logoNav {
        width: 175px;
    }

    .hamburger {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        background: #fafafa;
        align-items: center;
        position: relative;
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: #335494;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }

    .hamburger span:nth-child(1) {
        transform: translateY(7px);
    }

    .hamburger span:nth-child(3) {
        transform: translateY(-7px);
    }

    .hamburger span:nth-child(1), .hamburger span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }

    .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }

    .hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }

    .navlinks-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        width: 100%;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter : blur(8px);
        align-items: center;
        top: 100%;
        left: 0;
        height: 100vh;
        padding: 15px 50px 15px 20px;
        border-right: 1px solid #335494;
        transform: translate(-100%);
    }

    .open {
        transform: translate(0%);
        z-index: 10;
    }

    .navlinks-container.open {
        padding: 80px;
    }

    .navlinks-container a {
        font-size: 24px;
        margin: 10px 0px;
    }

}

@media (max-width: 500px) {
    #logoNav {
        width: 135px;
    }
}

/*******************************************************************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    width: 80%;
    border-radius: 0.5em;
    margin-left: 18%;
}

.cathedrale, .quadrilatere, .musee{
    width: 80%;
    margin-right: 18%;
    border-radius: 0.5em;
}

.corolis, .meteo, .map{
    width: 33%;
    text-align: center;
}

.corolisimg{
    width: 90%;
    border-radius: 0.5em;
}

.content{
    font-family: 'Cabin', sans-serif;
    text-align: justify;
    font-size: 20px;
    margin: 2%;
}

.content1{
    font-family: 'Cabin', sans-serif;
    text-align: justify;
    font-size: 20px;
}

.titre{
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    margin: 2%;
    font-size: 30px;
}

.titrelieux{
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    margin-left: 5%;
    font-size: 30px;
}

.colonne, .colonne1{
    width: 30%;
    height: 20%;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-left: 6%;
    margin-right: 6%;
}

.presentation{
    margin: 5%; 
    background-color: rgba(179, 204, 219, 0.705);
    /*background: linear-gradient(to right, rgba(139, 139, 139, 0.226), white);*/
    border-radius: 0.5em;
}

.lieux1, .lieux2, .lieux3{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.last{
    margin: 5%;
}

#map { 
    height: 350px;
    width: 350px;
    margin-left: 15%;
    border-radius: 0.25em;
}

.imgmeteo{
    height: 20%;
    width: 20%;
}

#msgmeteo{
    font-family: 'Cabin', sans-serif;
    font-size: 2vw;
    font-weight: bold;
}

.meteo{
    border: 2px solid black;
    background-color: aliceblue;
    border-radius: 10em;
}

@media screen and (max-width: 1450px) {
    #map { 
        height: 275px;
        width: 275px;
    }
}

@media screen and (max-width: 1150px) {
    #map { 
        height: 235px;
        width: 235px;
    }
}

@media screen and (max-width: 950px) {
    .titre, .titrelieux{
        font-size: 25px;
    }
    .content{
        font-size: 15px;
    }
    .colonne, .colonne1{
        width: 40%;
    }
    #map { 
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width: 750px) {
    #map { 
        height: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 600px) {
    .titre, .titrelieux{
        font-size: 20px;
    }
    .content{
        font-size: 10px;
    }
    .colonne, .colonne1{
        width: 50%;
    }
    #map { 
        height: 100px;
        width: 100px;
    }
}